* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1440px;
  margin: 0 auto;
  padding-left: 121px;
  padding-right: 121px;
}
.container2 {
  width: 1193px;
  margin: 0 auto;
}
