.header {
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    &-list {
      list-style: none;
      width: 35%;
      display: flex;
      justify-content: space-between;
      .header__nav-link {
        color: #000;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
      }
    }
    .menu {
      display: none;
    }
  }
}
@media screen and (max-width: 400px) {
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .header {
    width: 100%;
    &__nav {
      box-shadow: none;
      width: 100% !important;
      &-list {
        display: none;
      }
      img {
        width: 134px;
        height: 52px;
        margin-left: 32px;
        width: 80%;
      }
      .menu {
        margin-right: 32px;
        display: block;
        width: 10%;
        i {
          font-size: 20px;
        }
      }
    }
  }
}
