.main__newobjects {
  margin-top: 60px !important;
  h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-card {
    width: 341px;
    border-radius: 85px;
    overflow: hidden;
    height: 450px;
    box-shadow: 0px 3.730567455291748px 3.730567455291748px 0px
      rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    img {
      width: 100%;
      max-height: 70%;
      object-fit: cover;
    }
  }
  .hide {
    display: none;
  }
  &-text {
    height: 30%;
    b {
      display: inline-block;
      margin-top: 16px;
      margin-left: 15px;
      font-size: 20px;
      font-weight: 700;
    }
    p {
      font-size: 12px;
      line-height: normal;
      margin-left: 15px;
      margin-top: 12px;
    }
    span {
      text-align: center;
      font-size: 24px;
      font-weight: 300;
      display: inline-block;
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
  }
  &-iconleft,
  &-iconright {
    border: 1px solid gray;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
  }
  &-iconleft {
    margin-right: 30px;
  }
  &-iconright {
    margin-left: 30px;
  }
  button {
    width: 216px;
    height: 61px;
    @include globalbtn();
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 400px) {
  .main__newobjects {
    width: 100% !important;
    h3 {
      font-size: 18px;
      margin-left: 7px;
    }
    &-cards {
      width: 80% !important;
      flex-wrap: wrap;
      margin-left: 28px;
    }
    &-card {
      width: 132px;
      border-radius: 30px;
      height: 192px;
    }
    &-text {
      b {
        font-size: 7.5px;
        margin: 0 auto !important;
        margin-left: 10px !important;
      }
      p {
        margin-top: 0;
        font-size: 4.5px;
      }
      span {
        margin-top: 8px;
        font-size: 9px;
      }
    }
    &-iconleft,
    &-iconright {
      display: none;
    }
    .hide {
      display: block;
    }
    button {
      width: 138px;
      height: 31px;
      font-size: 12px;
      &:hover {
        font-size: 12.5px;
      }
    }
  }
}
